@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

.prim-navbar {
    height: 100;
    background-color: rgb(66, 3, 3);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-navbar {
    height: 50px;
}

.utility {
    background-color: rgb(44, 2, 2);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
}
.utility-title {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Roboto';
}
.prim-navbar-title {
    text-decoration: none !important;
    color: orange;
    font-weight: regular;
    font-family: 'Rufina';
}
.prim-navbar-title:hover {
    font-weight: regular;
    background-color: orange;
    border-radius: 8px;
    color: rgb(44, 2, 2);
    border: 10px solid orange;
}
.landingpage-header {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-family: 'Rufina';
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.d-block {
    object-fit: cover !important;

}
h2 {
    font-family: 'Rufina' !important;
    font-size: 64px;
    font-weight: bold !important;
    color: white !important;
    display: flex;
    justify-content: center;
}
body {
    background: linear-gradient(#510004, #230002);
    margin: 0;
}
/** Upcoming Events **/

.upcomingevents {

    padding: 64px;
}
.upcomingevent-divider {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 64px !important;
}

.event-title-date {
    display: flex;
    justify-content: space-between;
}
.event-title {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 800;
}
.event-date{
    font-family: 'Roboto';
    font-size: 12px;
}

.event-text {
    font-family: 'Roboto';
    font-size: 16px;
}

.upcomingevents-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.upcomingevent-cardbody {
    padding: 25px;
}
.upcoming-card {
    margin-right: 64px;
    margin-left: 64px;
    background-color: rgb(105, 3, 8) !important;
    color: white !important;
}
.event-btn {
    display: block;
    width: 200px;
    height: 48px;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 32px;
    background-color:rgb(154, 3, 30);
    color: white;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    text-decoration: none;
    border-radius: 25px !important;
    border: none;
}
.event-btn:hover {
    background-color: orange;
    color: rgb(154, 3, 30);
    font-weight: 400 !important;
}


/** Our Guru Section **/

.section-ourguru {
    /** background: linear-gradient(#230002, #470004); **/
    width: 100%;
    padding: 64px;
}
.ourguru-divider {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding-bottom: 64px;
}
.ourguru-description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    width: 75%;
}
.ourguru-info {
    color: white;
    padding: 64px;
    width: 50%;
}
.button-guru {
    color: white;
    background-color: rgb(154, 3, 30);
    width: 50%;
    border: none;
    height: 48px;
    border-radius: 25px;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
}
.button-guru:hover {
    background-color: orange;
    color: rgb(154, 3, 30);
    font-weight: 500 !important;
}
.ourguru-name {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto';
}
.ourguru-summary {
    font-size: 24px;
    font-family: 'Roboto';
}

/** Offerings Section **/

.section-offerings {
    /** background: linear-gradient(#470004, #690005); **/
    width: 100%;
    height: 700px;
    padding: 64px;
}
.offerings-divider {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 64px;
}
.offering-card {
    background: #f2f2f2;
    font-family: 'Roboto';
    height: 375px;
    margin-right: 32x;
    margin-left: 32px;
}
.offering-cardbody {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.offering-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offering-title {
    font-size: 24px;
    font-weight: 800;
}

.offercards-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
}
.offering-location {
    font-size: 12px;
}

.card-btn {
    display: block;
    width: 75%;
    margin: auto;
    background-color:rgb(154, 3, 30);
    color: white;
    font-family: 'Roboto' !important;
    font-weight: 300 !important;
    text-decoration: none;
    border-radius: 25px !important;
}
.card-btn:hover {
    background-color: orange;
    color: rgb(154, 3, 30);
    font-weight: 400 !important;
}

/** Arpana Community Banner **/

.community-banner {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.829), rgba(0, 0, 0, 0.384)), url(../image/newsletter-background.png);
    height: 600px;
    background-size: cover;
}
.community-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;

    margin-left: 60%;
    
}
.community-info-title {
    font-family: 'Rufina';
    color: #FB8B24;
}
.community-info-summary {
    color: white;
    width: 60%;
    padding-top: 32px;
    font-weight: 500;
}

/**Footer**/

.footer {
    background: url(../image/footer/footer-background.png);
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.connect-h2 {
    color: white;
    font-family: 'Rufina';
    font-size: 32px !important;
    justify-content: left !important;

}
.social-icons {
    text-decoration: none;
    color: white;
    padding: 8px;

}
.newsletter-h2 {
    color: orange !important;
    font-family: 'Rufina';
    font-size: 32px !important;
}
.newsletter-h4 {
    color: white !important;
    font-family: 'Roboto' !important;
    font-size: 16px !important;
    font-weight: 400;
}
.form-name {
    color: white;
}
.form-control {
    width: 100%;
}
.footer-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 64px;
    justify-content: space-between;
}
.connect-with-us {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}
.newsletter {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.newsletter-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter-button {
    background-color: rgb(154, 3, 30);
    border-radius: 25px !important;
    color: white;
    border: 4px solid rgb(154, 3, 30) !important;
}
.footer-button {
    margin: auto;
}
.footer-logo {
    display: flex;
    justify-content: center;
    padding: 32px;
}
.footer-copyright {
    background-color: black;
    width: 100%;
    margin: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}